<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/5ce9a0dd1d.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SkinFine</title>
        <link rel="icon" type="image/png" sizes="72x72" href="static/image/skinfine_logo.png">
        <link rel="stylesheet" type="text/css" href="/static/skinfine_style.css">
    </head>

    <body style="overflow-y: scroll">
        <nav>
            <div class="logo">
                <h4>SkinFine</h4>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="home"><i class="fas fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="predict"><i class="fas fa-question-circle"></i> Predict</a>
                </li>
                <li>
                    <a href="helpus"><i class="fas fa-hands-helping"></i> Help Us</a>
                </li>
                <li>
                    <a href="contact"><i class="fas fa-phone fa-flip-horizontal"></i> Contact</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <section id="contact">
            <img src="static/image/pcshs_logo.png" style="width: 336.8px; height: 511px; float: left; margin-left: 100px; margin-top: 100px">
            <br>
            <h2 style="margin-left: 125px; margin-right: 125px; margin-top: auto">&emsp; Princess Chulabhorn Science High School Pathumthami</h2>
            <h2 style="margin-left: 125px; margin-right: 125px">&emsp; 51 Village No.6 Bo Ngon Sub-district, Lat Lum Kaeo District, Pathumthani, Thailand, 12140</h2>
    </section>
    </body>

    <script src="/static/app.js"></script>
<script src="https://kit.fontawesome.com/5ce9a0dd1d.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        
        const realFileBtn = document.getElementById("real-file");
        const customBtn = document.getElementById("custom-button");
        const customTxt = document.getElementById("custom-text");
        
        customBtn.addEventListener("click", function () {
            realFileBtn.click();
        });
    </script>
</html>