<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/5ce9a0dd1d.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SkinFine</title>
        <link rel="icon" type="image/png" sizes="72x72" href="static/image/skinfine_logo.png">
        <link rel="stylesheet" type="text/css" href="/static/skinfine_style.css">
    </head>

    <body style="overflow-y: scroll">
        <nav>
            <div class="logo">
                <h4>SkinFine</h4>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="home"><i class="fas fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="predict"><i class="fas fa-question-circle"></i> Predict</a>
                </li>
                <li>
                    <a href="helpus"><i class="fas fa-hands-helping"></i> Help Us</a>
                </li>
                <li>
                    <a href="contact"><i class="fas fa-phone fa-flip-horizontal"></i> Contact</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <br>

        <h2 style="text-align: center">Come together to develop SkinFine</h2>
        <br>
        <p>Hello there. We're the SkinFine from Thailand. Right now, we are on the quest to find data to train our machine learning models. The reason that we did this project because we find rashes to be one of the major issues in both children and adult, affecting over 35% of the children and 20% of the adult, and still, the percentages tend to incline even more. Rashes are one of the most dominant effects in allergic reaction. Usually, hospitals are already filled with a lot of patients, and if patients keep coming to the hospital more and more, congestion
            problems will be present. So we decided to make a web application for skin disease classification</p>

        <a href="https://forms.gle/o3HKKKCKWouHDbeb7"><img src="static/image/qrcode.png" style="display: block; width: 325px; height: 325px; margin-left: auto; margin-right: auto"></a>

        
        <p style="text-align: center"><a href="https://forms.gle/o3HKKKCKWouHDbeb7" >You can click on this link</a></p>

    </body>
<script src="/static/app.js"></script>
<script src="https://kit.fontawesome.com/5ce9a0dd1d.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
            
        const realFileBtn = document.getElementById("real-file");
        const customBtn = document.getElementById("custom-button");
        const customTxt = document.getElementById("custom-text");
            
        customBtn.addEventListener("click", function () {
            realFileBtn.click();
        });
    </script>
</html>